html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Outfit', sans-serif;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.common_web_header .title{
	width: fit-content;
	background: #5D5FEF;
	margin: 0 auto;
	font-size: 45px;
	font-weight: 500;
	color: #fff;
	padding: 5px 30px 5px 30px;
	border-radius: 100px;
	margin-bottom: 55px;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #090012;
	opacity: 0.9;
	display: block;
	top: 0;
	/* right: -100%; */
	left: -100%;
	z-index: 9;
	transition: 0.65s ease-in-out all;
}

.overlay.showOverlay{
	/* right: 0; */
	left: 0;
}

.inner_desktop_navbar,
.navlinks_area nav ul,
.navlinks_area nav ul li,
.right_area,
.inner_banner_area,
.banner_area_content .app_buttons a,
.life_metaagow,
.modules_inner_box,
.videoPlayBtn,
.features_inner_flex,
.features_inner_flex .features_column .feature_box,
.blog_box .blog_date,
.panel-title a,
.more-less,
.more_faq_btn a,
.inner_footer,
.footer_column ul li a,
.social_links a,
.social_links,
.inner_ourstory_content,
.vision_mission_area,
.vision_mission_area .ethics_column .icon{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.desktop_navbar{
	background: #090012;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.inner_desktop_navbar{
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.logo_area{
	padding: 10px 0;
}

.navlinks_area,
.navlinks_area nav,
.navlinks_area nav ul{
	height: 85px;
}

.navlinks_area nav ul li{
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	color: #fff;
	height: 100%;
	padding: 10px;
	cursor: pointer;
	position: relative;
}

.navlinks_area nav ul li svg{
	margin-left: 5px;
}

.button_area .demoBtn{
	display: inline-block;
	background-color: transparent;
    background-image: linear-gradient(180deg, #5E5FEF 0%, #A65DEF 100%);
	color: #fff;
	padding: 15px 20px;
	border-radius: 100px;
	text-decoration: none;
}

.navlinks_area nav ul li .dropdown{
	position: absolute;
	display: block;
	top: 120px;
	left: 0;
	width: 230px;
	height: unset;
	background: #fff;
	box-shadow: 1px 1px 5px #e6e6e6;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in-out all;
}

.navlinks_area nav ul li:hover .dropdown{
	top: 100%;
	opacity: 1;
	visibility: visible;
}


.navlinks_area nav ul li .dropdown li{
	height: unset;
	padding: 12px 10px;
	transition: 0.15s ease-in-out all;
}

.navlinks_area nav ul li .dropdown li:hover{
	border-left: 3px solid #5E5FEF;
}

.navlinks_area nav ul li .dropdown li:not(:last-child){
	border-bottom: 1px solid #e6e6e6;
}

.navlinks_area nav ul li .dropdown li a{
	color: #090012;
	text-decoration: none;
	font-size: 14px;
}

.navlinks_area nav ul li .dropdown li:hover a{
	color: #5E5FEF;
}

.right_area{
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.hamburger{
	display: none;
	cursor: pointer;
	margin-left: 15px;
}

.hamburger svg{
	color: #A65DEF;
	font-size: 32px;
}

aside{
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	background: #fff;
	height: 100vh;
	overflow-y: auto;
	transition: 0.65s ease-in-out all;
	z-index: 10;
}

aside.showMobileNav{
	right: 0;
}

.mobile_navbar .logo_area{
	border-bottom: 1px solid #e6e6e6;
}

.mobile_navbar .logo_area .branding{
	text-align: center;
}

.accordion_area{
	margin-bottom: 15px;
}

.accordion_card .accordion_header{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px;
	cursor: pointer;
}

.accordion_card .accordion_header h3{
	font-size: 14px;
	color: #090012;
	cursor: pointer;
}

.accordion_card .accordion_header svg{
	transition: 0.5s ease-in-out all;
	font-size: 15px;
	color: #fc070e;
}

.accordion_card .accordion_header svg.rotation{
	transform: rotate(180deg);
}

.accordion_card .accordion_content{
	padding: 10px 10px 10px 35px;
	border-bottom: 1px solid #e6e6e6;
	display: none;
}

.accordion_card .accordion_content.showContent{
	display: block;
}

.accordion_card .accordion_content a{
	color: #090012;
	text-decoration: none;
	display: block;
	padding: 10px 0;
	font-size: 14px;
}

.mobile_navbar .button_area{
	text-align: center;
}

.close_mobile_nav{
	position: absolute;
	top: 8px;
	left: 8px;
	cursor: pointer;
}

.close_mobile_nav svg{
	font-size: 28px;
	color: #fc070e;
}


/* Banner Style */

.banner_area{
	padding: 235px 0 100px;
	background-color: transparent;
    background-image: linear-gradient(180deg, #5E5FEF 0%, #A65DEF 100%);
	position: relative;
	overflow: hidden;
}

.banner_area::before{
	right: 0;
    width: 80%;
    content: "";
    top: -10px;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../image/b-shape.png');
}

.left_img_animation{
	position: absolute;
    top: 85px;
	left: 0px;
    z-index: 1;
	animation: moveTopBottom 5s ease-in-out infinite;
}

@keyframes moveTopBottom{
	0%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
	100%{
		transform:translatey(0)
	}
}

.top_middle_img_animation{
	position: absolute;
    top: -10px;
	right: 70px;
    z-index: 1;
	animation: moveLeftRight 10s ease-in-out infinite;
}

@keyframes moveLeftRight{
	0%{
		transform:translateX(-100px)
	}
	50%{
		transform:translateX(70px)
	}
	100%{
		transform:translateX(-100px)
	}
}

.top_right_img_animation{
	position: absolute;
	right: 0;
	top: -10px;
	animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown{
	0%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
	100%{
		transform:translatey(0)
	}
}

.inner_banner_area{
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	z-index: 9;
}

.banner_area_content{
	flex: 0 0 45%;
	max-width: 45%;
}

.banner_area_img{
	flex: 0 0 55%;
	max-width: 55%;
}

.banner_area_content .banner_heading{
	font-size: 55px;
	line-height: 70px;
	color: #fff;
	font-weight: 600;
	position: relative;
}

.banner_area_content .banner_heading::before{
	content: '';
	position: absolute;
	height: 10px;
	width: 80px;
	background: #fff;
	left: 0;
	top: -25px;
	display: block;
	border-radius: 100px;
}

.banner_area_content .banner_heading span{
	display: block;
}

.banner_area_content .banner_heading span:nth-child(2){
	animation-delay: 1s;
}
.banner_area_content .banner_heading span:nth-child(3){
	animation-delay: 2s;
}

.banner_area_content .banner_para{
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.5px;
	margin: 20px 0 25px;
	animation-delay: 2.5s;
}

.banner_area_content .app_buttons{
	animation-delay: 3s;
}

.banner_area_content .app_buttons a{
	color: #fc070e;
	text-decoration: none;
	background: #fff;
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	min-width: 130px;
	text-align: center;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	font-weight: 600;
	border-radius: 100px;
}

/* .banner_area_content .app_buttons a:nth-child(1){
	margin-right: 10px;
} */

.banner_area_content .app_buttons a svg{
	font-size: 18px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.banner_area_img img{
	margin-top: -50px;
	animation-delay: 1s;
}

/* Work Life with & without Metaagrow */
.worklife_area{
	padding: 70px 0;
	background-color: transparent;
    background-image: linear-gradient(180deg, #31214E 0%, #2C3037 50%, #31214E 100%);
}

.life_metaagow{
	flex-wrap: wrap;
}

.life_metaagow:nth-child(2){
	flex-direction: row-reverse;
}

.before_life_metaagow{
	margin-bottom: 25px;
}

.before_life_metaagrow_img,
.after_life_metaagrow_img,
.before_life_metaagrow_content,
.after_life_metaagrow_content{
	flex: 0 0 50%;
	max-width: 50%;
}

.before_life_metaagrow_content{
	padding: 50px 0 0 25px;
}

.after_life_metaagrow_content{
	padding: 50px 25px 0 0;
}

.life_metaagrow_heading{
	font-size: 36px;
	font-weight: 600;
	color: #5D5FEF;
	margin-bottom: 20px;
	line-height: 36px;
}

.before_life_metaagrow_content ul,
.after_life_metaagrow_content ul{
	padding-left: 18px;
}

.before_life_metaagrow_content ul li,
.after_life_metaagrow_content ul li{
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	list-style: disc;
}

.before_life_metaagrow_content ul li:nth-child(1),
.after_life_metaagrow_content ul li:nth-child(1){
	animation-delay: 0.2s;
}
.before_life_metaagrow_content ul li:nth-child(2),
.after_life_metaagrow_content ul li:nth-child(2){
	animation-delay: 0.4s;
}
.before_life_metaagrow_content ul li:nth-child(3),
.after_life_metaagrow_content ul li:nth-child(3){
	animation-delay: 0.6s;
}
.before_life_metaagrow_content ul li:nth-child(4),
.after_life_metaagrow_content ul li:nth-child(4){
	animation-delay: 0.8s;
}
.before_life_metaagrow_content ul li:nth-child(5),
.after_life_metaagrow_content ul li:nth-child(5){
	animation-delay: 1s;
}
.before_life_metaagrow_content ul li:nth-child(6),
.after_life_metaagrow_content ul li:nth-child(6){
	animation-delay: 1.2s;
}
.after_life_metaagrow_content ul li:nth-child(7){
	animation-delay: 1.4s;
}

/* Modules Area */
.module_area{
	padding: 70px 0;
	background: #000;
}

.modules_inner_box{
	flex-wrap: wrap;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.modules_inner_box .column{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
	color: #fff;
}

.modules_inner_box .column:nth-child(2){
	animation-delay: 0.2s;
}
.modules_inner_box .column:nth-child(3){
	animation-delay: 0.4s;
}
.modules_inner_box .column:nth-child(4){
	animation-delay: 0.6s;
}
.modules_inner_box .column:nth-child(5){
	animation-delay: 0.8s;
}
.modules_inner_box .column:nth-child(6){
	animation-delay: 1s;
}
.modules_inner_box .column:nth-child(7){
	animation-delay: 1.2s;
}
.modules_inner_box .column:nth-child(8){
	animation-delay: 1.4s;
}

.modules_inner_box .column .module_column{
	background-color: transparent;
    background-image: linear-gradient(180deg, #5D5FEF 0%, #A65DEF 100%);
	padding: 25px;
	min-height: 256px;
	border-radius: 10px;
	position: relative;
	transition: 0.5s ease;
}

.modules_inner_box .column .module_column::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
    background-image: linear-gradient(180deg, #5D5FEF 0%, #A65DEF 100%);
	left: 0;
	top: 0;
	display: block;
	border-radius: 10px;
	z-index: 0;
	transition: 0.5s ease;
}

.modules_inner_box .column .module_column::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
    background-image: linear-gradient(180deg, #A65DEF 0%, #A65DEF 100%);
	left: 0;
	top: 0;
	display: block;
	border-radius: 10px;
	z-index: -1;
	transition: 0.5s ease;
}

.modules_inner_box .column .module_column:hover{
	transform: translate(-10px,-10px);
	position: relative;
}

.modules_inner_box .column .module_column:hover::after{
	transform: translate(10px,10px);
	z-index: -1;
}

.modules_inner_box .column .module_column .module_icon{
	margin-bottom: 20px;
	position: relative;
}

.modules_inner_box .column .module_column .module_icon i{
	font-size: 48px;
}

.modules_inner_box .column .module_column .module_content .module_name{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
	position: relative;
}

.modules_inner_box .column .module_column .module_content .module_para{
	font-size: 16px;
	line-height: 24px;
	position: relative;
}

.module_know_more{
	margin-top: 30px;
}

.module_know_more a{
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}


/* Feature Area css */
.features_area{
	padding: 70px 0 0;
	background-color: transparent;
	background-image: linear-gradient(180deg, #2C3037 0%, #31214E 100%);
}

.middle_feature_column{
	position: relative;
}

.middle_feature_column img{
	z-index: 3;
	position: relative;
	animation: imgUpDown 3s infinite alternate;
}

@keyframes imgUpDown{
	0%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(0);
	}
}

.middle_feature_column::after{
	content: '';
	position: absolute;
	height: 440px;
	width: 440px;
	display: block;
	background: #30d4ba1a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	z-index: 1;
}

.middle_feature_column::before{
	content: '';
	position: absolute;
	height: 360px;
	width: 360px;
	display: block;
	background: #4273f01a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	z-index: 1;
}

.features_inner_flex{
	margin-top: 50px;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}


.circle_dot{
	background: #4273f0b3;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	position: absolute;
}

.circle_dot::after{
	content: '';
	position: absolute;
	width: 23px;
	height: 23px;
	background: #30d4ba33;
	border-radius: 50%;
	top: -5.5px;
	left: -5.5px;
	animation: dotAnimation 1s infinite alternate;
	transition: 0.3s ease;
}

@keyframes dotAnimation{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0.5);
	}
}

.circle_dot1{
	top: 30%;
	left: 2px;
}

.circle_dot2{
	top: 30%;
	right: 2px;
}

.circle_dot3{
	bottom: 30%;
	left: 2px;
}

.circle_dot4{
	bottom: 30%;
	right: 2px;
}


.features_inner_flex .features_column{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.features_inner_flex .features_column:nth-child(1),
.features_inner_flex .features_column:nth-child(3){
	flex: 0 0 30%;
	max-width: 30%;
}

.features_inner_flex .features_column:nth-child(3){
	padding-left: 20px;
}

.features_inner_flex .features_column .feature_box{
	color: #fff;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.features_inner_flex .features_column .feature_box:not(:last-child){
	margin-bottom: 80px;
}

.features_inner_flex .features_column .feature_box .feature_icon{
	margin-right: 30px;
}

.features_inner_flex .features_column .feature_box .feature_icon svg{
	font-size: 55px;
	color: #5581f1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features_inner_flex .features_column .feature_box .feature_content p{
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}

/* Metaagrow Overview */
.app_overview_area{
	padding: 120px 0;
	background: url('../image/video-bg.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.videoPlayBtn{
	text-decoration: none;
	color: #000;
	height: 60px;
	width: 60px;
	background: #fff;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	border-radius: 100%;
	margin: 0 auto 35px;
}

.videoPlayBtn i{
	font-size: 26px;
}

.app_overview_area h2 span{
	display: block;
	text-align: center;
	font-size: 50px;
	font-weight: 100;
	line-height: 70px;
	color: #fff;
}

.app_overview_area h2 span.thick_text{
	font-weight: 800;
}

/* Service Area  Css*/

.service_area{
	background: #000;
	padding: 70px 0;
}

#service_carousel .service_name{
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	transition: 0.5s ease-in-out all;
	z-index: 2;
}

#service_carousel .owl-item.active .service_name{
	opacity: 1;
	visibility: visible;
	bottom: 25px;
}

#service_carousel .owl-item.active .service_name .plus{
	display: block;
	color: #fff;
	font-size: 28px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 40px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(120deg,#00bdff 0,#007aff 100%);
    background-image: -o-linear-gradient(120deg,#00bdff 0,#007aff 100%);
    background-image: linear-gradient(-30deg,#00bdff 0,#007aff 100%);
	cursor: pointer;
}

#service_carousel .owl-item .item::after {
    top: 85px;
    opacity: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: gradient(linear,left top,left bottom,from(#a0843b),color-stop(75%,#a0843b));
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(21,37,65,0)),color-stop(75%,rgba(105,36,245,.79)),to(rgba(36,151,245,.79)));
    background: -webkit-linear-gradient(top,rgba(21,37,65,0) 0,rgba(105,36,245,.79) 75%,rgba(36,151,245,.79) 100%);
    background: -o-linear-gradient(top,rgba(21,37,65,0) 0,rgba(105,36,245,.79) 75%,rgba(36,151,245,.79) 100%);
    background: linear-gradient(to bottom,rgba(21,37,65,0) 0,rgba(105,36,245,.79) 75%,rgba(36,151,245,.79) 100%);
}

#service_carousel .owl-item.active .item::after{
	opacity: 1;
}

#service_carousel .owl-prev,
#service_carousel .owl-next{
	top: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    position: absolute;
    border-radius: 100%;
    background-color: #d5dbe6;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
	margin: 0;
}

#service_carousel .owl-prev{
	left: -20px;
}

#service_carousel .owl-next{
	right: -20px;
}

#service_carousel .owl-prev svg,
#service_carousel .owl-next svg{
	font-size: 10px;
}

#service_carousel .owl-prev:hover,
#service_carousel .owl-next:hover{
	color: #fff;
    background-color: #4de3ef;
}

#service_carousel .owl-prev:focus,
#service_carousel .owl-next:focus{
	outline: none;
	border: none;
}

/* #service_carousel .service_name.showName{
	opacity: 1;
	visibility: visible;
	bottom: 30px;
} */

/* App Screenshot Css */

.heightOne{
	height: 80%;
}


  /* Blogs Area */
  .blogs_area{
	background: #000;
	padding: 70px 0;
  }

  .blog_box{
	position: relative;
  }

  .blog_box::before{
	content: '';
	height: 0%;
	width: 100%;
	background: #000;
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	transition: 0.3s ease-in-out all;
  }

  .blog_box:hover:before{
	height: 100%;
  }

  .blog_box .blog_date{
	background-image: linear-gradient(-30deg,#008df9 0,#6006b3 100%);
	/* -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center; */
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	position: absolute;
	top: 15px;
	right: 15px;
  }

  .blog_box .blog_date span{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	padding: 10px;
  }

  .blog_box .blog_info{
	position: absolute;
	bottom: 25px;
	left: 15px;
  }

  .blog_box .blog_info p{
	color: #fff;
	margin-bottom: 10px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: 0.5s ease all;
  }

  .blog_box .blog_info h3{
	color: #fff;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: 0.5s ease all 0.3s;
  }

  .blog_box .blogReadMore{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	position: relative;
	margin-top: 10px;
	padding-left: 50px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: 0.5s ease all 0.6s;
  }

  .blog_box .blogReadMore::before{
	content: '';
	width: 30px;
	height: 30px;
	opacity: 0;
	background: #2786f1;
	position: absolute;
	display: block;
	left: 0;
	top: -8px;
	transform: scale(0);
	transition: 0.65s ease all 0.7s;
  }

  .blog_box:hover .blogReadMore::before{
	opacity: 1;
	transform: scale(1);
  }

  .blog_box .blogReadMore::after{
	content: '';
	width: 0px;
	height: 1px;
	opacity: 0;
	background: #fff;
	position: absolute;
	display: block;
	left: 15px;
	top: 7px;
	transition: 0.5s ease all 0.9s;
  }

  .blog_box:hover .blogReadMore::after{
	opacity: 1;
	width: 30px
  }

.blog_box:hover .blog_info p,
.blog_box:hover .blog_info h3,
.blog_box:hover .blogReadMore{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

#blogs_carousel .owl-dots{
	margin-top: 25px;
}

#blogs_carousel .owl-dots .owl-dot:focus{
	outline: none;
	border: none;
}

#blogs_carousel .owl-dots .owl-dot.active span,
#blogs_carousel .owl-dots .owl-dot:hover span{
	background: #fc070e;
}

#blogs_carousel .owl-dots .owl-dot span{
	background: #fff;
}

/* Faq Css */

.faq_area{
	background: #29252F;
	padding: 70px 0;
}

.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.panel-title {
	font-size: 14px;
}

.panel-title > a {
	/* display: block; */
	padding: 15px 0;
	text-decoration: none;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	font-size: 17px;
	font-weight: 600;
	color: #D1D1FA;
}

.more-less {
	/* float: right;
	color: #212121; */
	color: #D1D1FA;
    background-color: transparent;
    background-image: linear-gradient(180deg, #5D5FEF 0%, #A65DEF 88%);
	height: 40px;
	width: 40px;
	min-width: 40px;
	border-radius: 3px;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	margin-right: 20px;
	font-size: 16px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	color: #D1D1FA;
	font-size: 16px;
	line-height: 26px;
	padding: 15px 0;
}

.more_faq_btn a{
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	padding: 8px 12px;
	color: #fff;
	border: 2px solid #6c2b95;
	border-radius: 50px;
	width: fit-content;
	margin: 30px auto 0;
	text-decoration: none;
	position: relative;
}

.more_faq_btn a::after{
	height: 0%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    z-index: -2;
	border-radius: 50px;
	background-color: transparent;
    background-image: linear-gradient(180deg, #5E5FEF 0%, #A65DEF 100%);
	transition: 0.3s ease-in-out all;
}

.more_faq_btn a:hover{
	z-index: 0;
}

.more_faq_btn a:hover::after{
	height: 100%;
}

.more_faq_btn a svg{
	font-size: 26px;
	margin-right: 12px;
}


/* Footer Css */
.footer_area{
	background: url(../image/fobg-copy.png);
	background-position: center;
	background-size: cover;
	/* margin-top: -40px; */
}

.inner_footer{
	padding: 70px 0;
}

.inner_footer .footer_column{
	flex: 0 0 25%;
	max-width: 25%;
}

.footer_logo{
	margin-bottom: 20px;
}

.country{
	margin-bottom: 20px;
}

.country h3{
	margin-bottom: 8px;
	font-weight: 600;
}

.country h3, .country a{
	color: #fff;
	text-decoration: none;
}

.country a{
	display: inline-block;
	margin-bottom: 8px;
}

.footer_col_header h3{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}

.footer_column ul li{
	margin-bottom: 20px;
}

.footer_column ul li a{
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.footer_column ul li a:hover{
	color: #d772fe;
}

.footer_column ul li a svg{
	font-size: 14px;
}

.social_links a{
	color: #fff;
	width: 40px;
	height: 40px;
	background: #5D5FEF;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	border-radius: 100%;
	text-decoration: none;
	/* cursor: pointer; */
}

.social_links a:not(:last-child){
	margin-right: 8px;
}

.social_links a svg{
	font-size: 20px;
}

/* Common Inner Header */
.inner_page_header{
	text-align: center;
	font-size: 45px;
	padding: 100px 0;
	color: #fff;
	overflow: hidden;
	/* position: relative; */
}

.inner_page_header h3{
	position: relative;
	z-index: 10;
}

/* Our Story Css */
.ourstory_area{
	padding: 85px 0;
	background: #1b0234;
}

/* .inner_ourstory_content{
	padding: 70px 0;
} */

.inner_ourstory_content .para{
	flex: 0 0 50%;
	max-width: 50%;
	color: #fff;
	padding-right: 30px;
}

.inner_ourstory_content .para p:nth-child(1){
	font-size: 30px;
	line-height: 38px;
	font-weight: 300;
	margin-bottom: 30px;
}

.inner_ourstory_content .para p:nth-child(2){
	font-size: 19px;
	line-height: 26px;
	font-weight: 300;
}

.inner_ourstory_content .img_area{
	flex: 0 0 50%;
	max-width: 50%;
}

.vision_mission_area{
	padding: 12	0px 0 30px;
}

.vision_mission_area .ethics_column{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 15px;
	position: relative;
	z-index: 5;
	text-align: center;
	height: 270px;
}

.vision_mission_area .ethics_column .icon{
	height: 80px;
	width: 80px;
	background: #fff;
	border-radius: 5px;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	margin: -60px auto 20px;
}

.vision_mission_area .ethics_column .icon i{
	font-size: 34px;
	color: #4279f1;
}

.vision_mission_area .ethics_column .vision_block,
.vision_mission_area .ethics_column .mission_block,
.vision_mission_area .ethics_column .core_value_block{
	height: 100%;
	background: #603F95;
	padding: 20px;
}

.vision_mission_area .ethics_column .vision_content,
.vision_mission_area .ethics_column .mission_content,
.vision_mission_area .ethics_column .core_value_content{
	color: #fff;
}

.vision_mission_area .ethics_column .vision_content h3,
.vision_mission_area .ethics_column .mission_content h3,
.vision_mission_area .ethics_column .core_value_content h3{
	font-size: 26px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.vision_mission_area .ethics_column .vision_content p,
.vision_mission_area .ethics_column .mission_content p,
.vision_mission_area .ethics_column .core_value_content p{
	font-size: 16px;
	line-height: 26px;
}